<!DOCTYPE html>
<html lang="en">
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Votre transaction chez Irent !</h1>
<p>
Vous transaction a été passé avec succès StripMontant ou tu username.

<p>A bientôt  !</p>

</body>

</html>