/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* ----------DEVISE---------- */




/* ------------------------- */
.main-container{
  margin-bottom: 40px
}

.j{
  background-color: rgb(163, 191, 157);
}

.center {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
}

.bottom-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.flex-container-team {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
align-content: center;
align-items: center;
}

.flex-item-team{
order: 0;
flex: 0 1 auto;
align-self: auto;
}


.width-full {
  width: 100%;
}

.gap {
  column-gap: 10px;
}

.go-left {
  margin-left: 100px;
}

.card-size {
  width: 25rem;
}

.no-error {
  margin-bottom: 400px;
}